.custom-about-apart
  .custom-about-apart__container
    

    .custom-about-apart__slider
      .custom-about-apart__image(v-for='(tile, i) in content.slider', :key="'slide-' + i", :class="{ 'custom-about-apart__image--active': current === i }")
        LazyImage(:src='tile.image')
      
      .custom-about-apart__slide-container(ref='slider')
        .custom-about-apart__slide-track(:style='{ width: slideWidth * slides + "px", transform: "translateX(" + showing * slideWidth * -1 + "px)" }')
          .custom-about-apart__slide(:class="{ active: current === j }", v-for='(thumbnail, j) in content.slider', :key='j' @click='switchSlide(j)', :style='{ width: slideWidth + "px" }')
            img.custom-about-apart__slide-thumb(:src='thumbnail.image.sizes.medium', :alt='thumbnail.image.alt')
            
      .custom-about-apart__slider-button(@click='switchSlide')
        Icon.custom-about-apart__slider-icon(name='arrow')
          
    Container
      Column(:cols='5', :off='7')
        .custom-about-apart__title(v-html='content.title')
        .custom-about-apart__body(v-html='content.body')
