.pages-get(v-if='props && !loading')
  Hero(:content='props.hero')
  BlockSection(:content='props.section', :alt='true')
  BlockFullWidth#financing(:content='props.f_width')
  #patientforms
    BlockGradient(:content='props.gradient')
