.form
  position: relative
  z-index: 5
  width: 100%
  min-height: 20rem

  &__group
    position: relative
    padding-bottom: 1rem
    &--alt
      width: 50%

  &__label
    position: absolute
    top: 0
    left: 1rem
    padding: .5rem
    height: 100%
    color: $brown-grey
    pointer-events: none

  &__input
    display: block
    border: $brownish-grey 1px solid
    background: transparent
    padding: .5rem .25rem .5rem 5rem
    width: 100%
    max-width: none
    color: $brown-grey

    &--textarea
      padding-left: 5.5rem
      min-height: 10rem

    &:focus,
    &:active
      outline: transparent

    &:focus + .form__label,
    &:active + .form__label
      color: $brownish-grey

    &--error
      border-color: $danger

    &--error,
    &--error + .form__label,
    &--error + .form__label + .form__message
      color: $danger

  &__message
    padding: .5rem

  &__button-group
    position: relative

  &__submit-button
    @include basic-button($marine, $light-grey-blue, $white)
    padding: .5rem 4rem

  &__thank-you
    @extend h1
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    color: $marine

  &__sending-overlay
    position: absolute
    top: 0
    left: 0
    z-index: 99
    width: 100%
    height: 100%
    overflow: hidden

  &__sending
    @extend h1
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    color: $marine

    span
      animation: ellipsis 1s ease infinite
      opacity: 0

      @for $i from 1 through 3
        &:nth-child(#{$i})
          animation-delay: (($i - 1) * .1s)

      @keyframes ellipsis
        0%
          opacity: 0
        100%
          opacity: 1
