.hero
  NavTrigger.hero__trigger-1(:props='false')
  NavTrigger.hero__trigger-2(:props='false')
  NavTrigger.hero__trigger-3(:props='true')
  .hero__video-overlay(v-if='content.video')
  video.hero__video(muted loop playsinline autoplay v-if='content.video')
    source(:src="content.video" type="video/mp4")
  
  .hero__background(:style="{ backgroundImage: 'url(' + content.image + ')' }" v-if='content.image')
  
  Icon.hero__icon(name='scroll-arrow')
