// --------------------------------------------------------
// screen sizes
// --------------------------------------------------------

$screen-xs: 400px
$screen-sm: 600px
$screen-md: 768px
$screen-lg: 1024px
$screen-xl: 1400px
