.block-section
  padding: 6rem 0

  &__image
    min-height: 15rem

  &__content
    padding: 2rem 0

  &__title
    @extend h1

  &__body
    padding: 2rem 0

  &__button
    @include basic-button ($marine, $cloudy-blue, $white)
