.block-section
  Container
    Column(:cols='6')
      LazyImage.block-section__image(:src='content.image')
    Column(:cols='6')
      .block-section__content
        .block-section__title(v-html='content.title')
        .block-section__body(v-html='content.body')
        router-link.block-section__button(:to='content.button.href' v-html='content.button.label')
  pre {{ content}}
