.block-section
  @include tablet
    padding: 4rem 0
  position: relative
  padding: 6rem 0

  &__trigger
    @include tablet
      top: 15%
    top: 35%

  &__image
    @include fade(.25s)
    min-height: 20rem
    transition-delay: 0s

    &--alt
      transition-delay: .2s

  &__content
    @include fade(.25s)
    padding: 2rem 0
    transition-delay: .2s

    &--alt
      transition-delay: 0s

  &__title
    @extend h1

  &__body
    @include tablet
      padding-bottom: 0
    padding: 2rem 0

  &__button
    @include basic-button ($marine, $cloudy-blue, $white)
    @include tablet
      margin-top: 2rem

  &__modal
    position: fixed
    top: 0
    left: 0
    z-index: 9999
    width: 100%
    height: 100%

  &__modal-background
    position: absolute
    top: 0
    left: 0
    background: $shadow
    width: 100%
    height: 100%

  &__modal-close
    @extend h1
    @include tablet
      top: 4rem
      right: 2rem
    position: absolute
    top: 10%
    right: 20%
    cursor: pointer
    color: $white
    font-size: 20px

  &__slider
    @include tablet
      position: relative
      width: calc(100% - #{$gutter})
      max-height: 20rem

    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    background: $light-grey-blue
    width: 50%
    height: 80%
    overflow: hidden

  &__slider-image
    @include tablet
      height: calc(100% - 5rem)
    position: absolute
    top: 0
    left: 0
    transition: opacity .25s ease-in
    opacity: 0
    width: 100%
    height: calc(100% - 8rem)

    &--active
      opacity: 1

  &__slide-container
    @include tablet
      height: 5rem
    position: absolute
    bottom: 0
    left: 0
    z-index: 8
    width: 75%
    height: 8rem
    overflow: hidden

  &__slide-track
    @include tablet
      height: 5rem
    display: block
    position: relative
    top: 0
    left: 0
    transition: transform .25s ease-in
    height: 8rem

  &__slide
    @include tablet
      height: 5rem
    display: inline-block
    position: relative
    height: 8rem
    overflow: hidden
    filter: grayscale(.5)

    &.active
      filter: none

  &__slide-thumb
    @include tablet
      max-height: 100%
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    min-width: 100%
    min-height: 100%


  &__slider-button
    @include tablet
      height: 5rem
    position: absolute
    right: 0
    bottom: 0
    z-index: 9
    background: $cloudy-blue
    width: 25%
    height: 8rem

    &:active
      .icon-fill
        filter: none

  &__slider-icon
    @include svg-size(6rem, 6rem)
    @include tablet
      @include svg-size(3rem, 3rem)
    position: absolute
    top: 50%
    left: 55%
    transform: translate(-50%, -50%)

    .icon-fill
      transition: filter .25s ease-in
