.pages-home(v-if='props && !loading')
  Hero(:content='props.hero')
  CustomHomeWelcome(:content='props.welcome')
  BlockTiles(:content='props.tiles')
  //BlockSection(:content='props.section')
  //CustomHomeTestimonials(:content='props.testimonials')
