.trigger(style='height: 0; width: 100%; position: absolute; bottom: 0; left: 0;')
  .trigger__waypoint(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }" style='height: 1px')
