.loader(v-if='!loaded')
  .loader__left(:class="{ 'loader__left--animate': animate }")
  Icon.loader__icon(:class="{ 'loader__icon--animate': animate }" name='loader-icon')
  .loader__right(:class="{ 'loader__right--animate': animate }")
