.loader(v-if='!loaded')
  .loader__left(:class="{ 'loader__left--animate': animate }")
  img.loader__icon(:class="{ 'loader__icon--animate': animate }" :src='loaderimg.loader.img')
  .loader__right(:class="{ 'loader__right--animate': animate }")
