.lazy-image(ref='image')
  .lazy-image__trigger(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }" v-if='!loaded')
  img(:src='loaded ? src.url : src.sizes.medium', :class="{ cover: imageFit === 'cover', contain: imageFit === 'contain', loaded: loaded, wide: width > height, tall: width < height }", :alt='src.alt')
  pre {{ src }}
