.lazy-image(ref='container')
  .lazy-image__trigger(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }" v-if='!loaded')
  .lazy-image__trigger.lazy-image__trigger--backup(v-waypoint="{ active: true, callback: onWaypoint, options: intersectionOptions }" v-if='!loaded')
  img(:src='loaded ? src.url : src.sizes.thumbnail', :class="[{ cover: imageFit === 'cover', contain: imageFit === 'contain', loaded: loaded,'square-image': width === height, 'wide-image': width > height, 'tall-image': height > width, 'wide-container': (naturalWidth / naturalHeight) > (width / height), 'tall-container': (naturalWidth / naturalHeight) < (width / height) }, position]", :alt='src.alt' ref='image')
