.new-patient-paperwork(v-if='props && !loading')
  Hero(:content='props.hero')
  BlockFullWidth#team(:content='props.f_width')
  CustomAboutStaff(:content='props.staff')  
  BlockGradient(:content='props.gradient')



