.custom-contact-page
  &__content
    @extend .flex-stretch-center
    @include tablet
      flex-wrap: wrap

  &__banner,
  &__info
    @include tablet
      width: 50%
    width: calc(100% / 14 * 4)

  &__banner
    @include tablet
      width: 0

  &__form
    @include tablet
      width: 50%
    @include phone-lg
      padding: 2rem $gutter
      width: 100%
    padding: 4rem 2rem
    width: calc(100% / 14 * 6)

  &__form-title
    @extend h1
    padding-bottom: 2rem

  &__form-body
    @extend h4
    padding-bottom: 2rem

  &__form-emergency
    @extend h4
    strong
      font-weight: 700

  &__info
    @include phone-lg
      padding: 2rem $gutter
      width: 100%
    background: $faded-blue
    padding: 6rem 2rem 9rem
    color: $white

  &__info-content
    width: 100%

  &__info-title
    @extend h1
    padding-bottom: 2rem

  &__info-hours
    @extend h4
    padding-bottom: 2rem

  &__info-button
    @extend h4
    display: block
    padding-bottom: 1rem
    color: $white

  &__map
    position: relative
    min-height: 30rem

  &__map-iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
