.custom-invisalign-tiles
  @include tablet
    padding: 0
  padding: 10rem 0

  &__row
    @include tablet
      padding-top: 20rem
    position: relative
    margin: auto
    background: $light-grey-blue
    max-width: $max-width

    &--alt
      background: $faded-blue

  &__image-box
    @include tablet
      top: calc(#{$gutter} / 2 + 4rem)
      left: 50%
      transform: translateX(-50%)
      width: calc(100% - #{$gutter})
      height: 20rem
    position: absolute
    top: 0
    left: 0
    width: 50%
    height: 100%

    &--alt
      @include tablet
        transform: translateX(-50%)
      left: 50%

  &__title
    @extend h1
    @include tablet
      padding-top: 6rem
    padding-top: 4rem
    padding-bottom: 2rem
    color: $white

  &__body
    padding-bottom: 4rem
    color: $white
