.custom-invisalign-tiles
  Trigger.block-full-width__trigger(:props='1' v-if="!active")
  .custom-invisalign-tiles__row(v-for='(row, i) in content', :key='i', :class="{ 'custom-invisalign-tiles__row--alt': i % 2 }")
    .custom-invisalign-tiles__image-box(:class="{ 'custom-invisalign-tiles__image-box--alt': i % 2, active: active }", :style="{ transitionDelay: i % 2 ? .2 * (i + 2) + 's' : .2 * i + 's' }")
      LazyImage.custom-invisalign-tiles__image(:src='row.image')
    Container
      Column(:cols='4', :off='7' v-if='!i % 2')
        .custom-invisalign-tiles__content-box(:class="{ active: active }", :style="{ transitionDelay: .2 * (i + 1) + 's' }")
          .custom-invisalign-tiles__title(v-html='row.title')
          .custom-invisalign-tiles__body(v-html='row.body')
      Column(:cols='4', :off='1' v-if='i % 2')
        .custom-invisalign-tiles__content-box(:class="{ active: active }", :style="{ transitionDelay: .2 * (i + 1) + 's' }")
          .custom-invisalign-tiles__title(v-html='row.title')
          .custom-invisalign-tiles__body(v-html='row.body')
