.navigation-desktop(v-if='content', :class="{ 'navigation-desktop--scrolled': $store.state.nav }")
  router-link.navigation-desktop__logo(:to='content.logo.href')
    Icon.navigation-desktop__logo-icon(:name='content.logo.icon')
  .navigation-desktop__content
    .navigation-desktop__content-top
      router-link.navigation-desktop__link(v-for='(link, i) in links', :key='i', :to='link.path', v-if='link.navigation' v-html='link.name', :title='link.name')
    .navigation-desktop__content-bottom
      a.navigation-desktop__phone(:href='content.phone.href')
        Icon.navigation-desktop__phone-icon(:name='content.phone.icon')
        span(v-html='content.phone.label')
      .navigation-desktop__appointment
        span(v-html='content.appointment.label')
