.custom-home-welcome
  padding: 4rem 0

  &__title
    @extend h1
    padding-top: 2rem

  &__subtitle
    @extend h1
    padding-left: 2rem
    font-size: 18px

  &__body
    padding-top: 2rem
    padding-bottom: 2rem
