.custom-about-staff
  padding: 6rem 0

  &__tile-container
    overflow: hidden

  &__tile
    position: relative
    margin-bottom: 8rem
    width: 100%
    max-width: 18rem
    min-height: 27.5rem

    &:hover
      .custom-about-staff__text-box
        transform: translateY(0)
      .custom-about-staff__name
        padding-bottom: 2rem
        color: transparent
        &:after
          color: $white

      .custom-about-staff__position
        padding-bottom: 2rem
        color: $white
      .custom-about-staff__bio
        color: $white

  &__image
    position: absolute
    top: 0
    left: 0
    z-index: -1
    width: 100%
    height: 100%

  &__text-box
    position: absolute
    top: 6rem
    left: 1rem
    transform: translateY(22.5rem)
    transition: transform .5s ease-in
    width: calc(100% - 2rem)
    pointer-events: none

  &__name
    @extend h3
    transition: all .25s ease-in
    padding-bottom: .5rem
    color: $marine
    &:after
      @extend h1
      position: absolute
      top: 0
      left: 0
      transition: color .25s ease-in
      color: transparent
      content: attr(title)
      transition-delay: .25s

  &__position
    transition: all .25s ease-in
    color: $faded-blue
    transition-delay: .25s

  &__bio
    transition: all .25s ease-in
    color: transparent
    transition-delay: .25s
